<div class="container">
  <ul class="navigation">
    <li id="matei" class="project">
      <div class="list-inner-text">
        <span>Matei Curtasu</span>
      </div>
      <div class="project-details hide">
        <div class="description font-italic"> As raw as possible. </div>
        <div class="media presentation">
          <div class="presentation-tab">
            <h3>I N F O</h3>
            <ul class="font-italic">
              <li>Creative Director.</li>
              <li>Metaphor Mixologist.</li>
              <li>Pilot Rider.</li>
              <li>Role Model.</li>
              <li>Safety Last.</li>
            </ul>
          </div>

          <div class="presentation-tab">
            <h3>E X P E R I E N C E</h3>
            <ul class="font-italic">
              <li>antoni Berlin</li>
              <li>Stefanini Infinit Bucharest</li>
              <li>GMP+Webstyler Bucharest</li>
              <li>Havas New York</li>
              <li>Heimat\TBWA Berlin</li>
            </ul>
          </div>

          <div class="presentation-tab">
            <h3>C L I E N T S</h3>
            <ul class="font-italic">
              <li>adidas, Amazon, AT&T,</li>
              <li>BMW, Chanel, CNN,</li>
              <li>Coca-Cola, GE, Google,</li>
              <li>Hornbach, Mercedes-Benz,</li>
              <li>Netflix, Nike, Samsung.</li>
            </ul>
          </div>

          <div class="presentation-tab">
            <h3>B L I N G</h3>
            <ul class="font-italic">
              <li>Cannes Lions, D&AD,</li>
              <li>Clio, One Show, Eurobest,</li>
              <li>Art Directors Club, Effie,</li>
              <li>Webby, Red Dot, FWA,</li>
              <li>New York Festivals, LIA.</li>
            </ul>
          </div>

          <div class="presentation-tab">
            <h3>E L S E W H E R E</h3>
            <ul class="font-italic">
              <li><a href="mailto:mtcrts@me.com">mtcrts@me.com</a>
              <li><a target="_blank" href="http://linkedin.com/in/mtcrts">linkedin</a>
              <li><a target="_blank" href="http://instagram.com/asrawaspossible">instagram</a>
              <li><a target="_blank" href="http://twitter.com/asrawaspossible">twitter</a>
              <li><a target="_blank" href="https://www.behance.net/matei">behance</a>
            </ul>
          </div>
        </div>
      </div>
    </li>

    <% data.projects.to_a.sort_by{ |id, e| id }.each do |index, project| %>
      <li id="<%= project.id %>" class="project">
        <div class="list-inner-text">
          <span><%= project.company %></span> – <span class="font-italic"><%= project.project %></span>
        </div>
        <div class="project-details hide">
          <div class="description font-italic"> <%= project.description %> </div>
          <div class="media">
            <div class="youtube" id="<%= project.videoId %>" data-name="<%= project.id %>" data-params="modestbranding=1&showinfo=0&controls=0&vq=hd720"></div>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
</div>
