<div class="container">
  <ul class="navigation">
    <li id="matei" class="project">
      <div class="list-inner-text">
        <span>Matei Curtasu</span>
      </div>
      <div class="project-details hide">
        <div class="description font-italic"> As raw as possible. </div>
        <div class="media presentation">
          <div class="presentation-tab">
            <h3>I N F O</h3>
            <ul class="font-italic">
              <li>Creative Director.</li>
              <li>Metaphor Mixologist.</li>
              <li>SXSW Jury.</li>
              <li>Pilot Rider.</li>
              <li>Role Model.</li>
              <li>Monarchist Libertarian.</li>
              <li>Chad Romanian.</li>
            </ul>
          </div>

          <div class="presentation-tab">
            <h3>E X P E R I E N C E</h3>
            <ul class="font-italic">
              <li>GMP Advertising Bucharest</li>
              <li>Havas Worldwide New York</li>
              <li>Heimat\TBWA Berlin</li>
              <li>Hi-ReS! New York</li>
              <li>BBDO New York</li>
              <li>Saatchi & Saatchi Moscow</li>
              <li>Publicis/Reputation Copenhagen</li>
            </ul>
          </div>

          <div class="presentation-tab">
            <h3>C L I E N T S</h3>
            <ul class="font-italic">
              <li>adidas, Amazon, AT&T,</li>
              <li>BMW MINI, Chanel, CNN,</li>
              <li>Diageo, Fanta, FRF, GE,</li>
              <li>Google, Hornbach,</li>
              <li>IBM, Jägermeister,</li>
              <li>Mercedes-Benz, Netflix,</li>
              <li>Nike, Volkswagen.</li>
            </ul>
          </div>

          <div class="presentation-tab">
            <h3>B L I N G</h3>
            <ul class="font-italic">
              <li>Cannes Lions, Art Directors Club,</li>
              <li>Clio, One Show, Eurobest,</li>
              <li>D&AD, New York Festivals,</li>
              <li>Webby, Effie, Facebook Studio,</li>
              <li>Red Dot Design, FWA, LIA,</li>
              <li>Lürzer’s Archive, Epica, PIAF,</li>
              <li>Intercontinental Advertising Cup.</li>
            </ul>
          </div>

          <div class="presentation-tab">
            <h3>E L S E W H E R E</h3>
            <ul class="font-italic">
              <li><a href="mailto:mtcrts@me.com">mtcrts@me.com</a>
              <li><a target="_blank" href="http://twitter.com/mtcrts">twitter</a>
              <li><a target="_blank" href="http://linkedin.com/in/mtcrts">linkedin</a>
              <li><a target="_blank" href="http://instagram.com/asrawaspossible">instagram</a>
              <li><a target="_blank" href="https://www.behance.net/matei">behance</a>
              <li><a target="_blank" href="https://workingnotworking.com/matei">working not working</a>
              <li>#deleteyourfacebook</li>
            </ul>
          </div>
        </div>
      </div>
    </li>

    <% data.projects.to_a.sort_by{ |id, e| id }.each do |index, project| %>
      <li id="<%= project.id %>" class="project">
        <div class="list-inner-text">
          <span><%= project.company %></span> – <span class="font-italic"><%= project.project %></span>
        </div>
        <div class="project-details hide">
          <div class="description font-italic"> <%= project.description %> </div>
          <div class="media">
            <div class="youtube" id="<%= project.videoId %>" data-name="<%= project.id %>" data-params="modestbranding=1&showinfo=0&controls=0&vq=hd720"></div>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
</div>
